
@{
    Layout = null;
}


<!DOCTYPE html>
<html dir="rtl">

<head>
    <link rel="stylesheet" type="text/css" href="slide navbar style.css">
    <link href="~/sitetemplate/css/stylelogin.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script src="~/sweetalert/sweetalert2.all.js"></script>
    <script src="~/sweetalert/sweetalert2.all.min.js"></script>
    <script src="~/sweetalert/sweetalert2.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link href="~/sweetalert/sweetalert2.css" rel="stylesheet" />
    <link href="~/sweetalert/sweetalert2.min.css" rel="stylesheet" />
</head>

<body>
    <div class="main">
        <input type="checkbox" id="chk" aria-hidden="true">

        <div class="signup">
            <form id="form"   >
                <form id="form"  >
                    <div class="form-group">
                            <label for="chk" aria-hidden="true">فرم ثبت نام</label>
                    </div>
                    <div class="form-group">
                            <input type="text" name="FirstName" id="FirstName" placeholder="نام"  style="font-family:'Vazirmatn', sans-serif ;">
                            <span   class="field-validation-error" ></span>
                    </div>
                    <div class="form-group">
                            <input type="text" name="LastName" id="LastName" placeholder="نام خانوادگی"  style="font-family:'Vazirmatn', sans-serif ;">
                            <span  class="field-validation-error"  ></span>
                    </div>
                    <div class="form-group">
                            <input type="text" name="Mobile" id="Mobile"  placeholder="شماره موبایل" style="font-family:'Vazirmatn', sans-serif ;">
                            <span  class="field-validation-error" ></span>
                    </div>
                    <div class="form-group">
                            <input type="text" name="Email" id="Email" placeholder="ایمیل" style="font-family:'Vazirmatn', sans-serif ;">
                            <span  class="field-validation-error" ></span>
                    </div>
                    <div class="form-group">
                            <input type="password" name="Password" id="Password"  placeholder="کلمه عبور" style="font-family:'Vazirmatn', sans-serif ;">
                            <span  class="field-validation-error" ></span>
                    </div>
                    <div class="form-group">
                            <input type="password" name="ConfirmPassword" id="ConfirmPassword"  placeholder="تکرار کلمه عبور" style="font-family:'Vazirmatn', sans-serif ;">
                            <span  class="field-validation-error"></span>
                    </div>
                    <div>
                            <input type="button" onclick="Registeruser()"  a value="ثبت نام" id="submit" style="font-family:'Vazirmatn', sans-serif ;">

                    </div>
                </form>

            </form>
        </div>

      <div class="login" >
              <form id="form"   >
                <form id="form"  >
                    <div class="form-group">
                            <label id="registerafter" for="chk" aria-hidden="true" >فرم ورود</label>
                    </div>
                   
                    
                    <div class="form-group">
                            <input type="text" name="Mobile" id="Mobilelogin"  placeholder="شماره موبایل" style="font-family:'Vazirmatn', sans-serif ;">
                            <span  class="field-validation-error" ></span>
                    </div>
                
                    <div class="form-group">
                            <input type="password" name="Password" id="Passwordlogin"  placeholder="کلمه عبور" style="font-family:'Vazirmatn', sans-serif ;">
                            <span  class="field-validation-error" ></span>
                    </div>
                
                    <div>
                            <input type="button" onclick="login()"  a value="ثبت نام" id="submit" style="font-family:'Vazirmatn', sans-serif ;">

                    </div>  
                    <div id="forget">
                            <a >فراموش کردن کلمه عبور</a>
                    </div>
                </form>

            </form>
        </div>
    </div>

    <script>
        const btn = document.getElementById("registerafter")
    function Registeruser() {

        var FirstName = $("#FirstName").val();
        var LastName = $("#LastName").val();
        var Email = $("#Email").val();
        var Mobile = $("#Mobile").val();
        var Password = $("#Password").val();
        var ConfirmPassword = $("#ConfirmPassword").val();

        var postData = {
            'FirstName': FirstName,
            'LastName': LastName,
            'Mobile': Mobile,
            'Email': Email,
            'Password': Password,
            'ConfirmPassword': ConfirmPassword,
        };

        $.ajax({
            contentType: 'application/x-www-form-urlencoded',
            dataType: 'json',
            type: "POST",
            url: "Register",
            data: postData,
            success: function (data) {
              if (data==="isuccess") {
                   swal.fire(
                       'موفق!',
                       data.message,
                       'success'
                   ).then(document.getElementById("form").reset())
                   .then(btn.click());
                                    
  
  
  
  
               }
               else {
  
                   swal.fire(
                       'هشدار!',
                       data.message,
                       'warning'
                   ) ;
  
               }
            },
            error: function (request, status, error) {
                swal.fire(
                    'هشدار!',
                    request.responseText,
                    'warning'
                );
            }
        });
    }
</script>

    <script>
    function login() {
        var Mobile = $("#Mobilelogin").val();
        var Password = $("#Passwordlogin").val();
        var postData = {
            'Mobile': Mobile,
            'Password': Password,
        };
        $.ajax({
            contentType: 'application/x-www-form-urlencoded',
            dataType: 'json',
            type: "POST",
            url: "Login",
            data: postData,
            success: function (data) {
                if (data === "isuccess") {
                    swal.fire(
                        'موفق!',
                        data.message,
                        'success'
                    ).then(function (isConfirm) {
                        window.location.replace("/");
                    });
                }
                else {

                    swal.fire(
                        'هشدار!',
                        data.message,
                        'warning'
                    );
                }
            },
            error: function (request, status, error) {
                swal.fire(
                    'هشدار!',
                    request.responseText,
                    'warning'
                );
            }
        });
    }
</script>
</body>

</html>