
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>Table</title>
</head>

<style>
    body {
        padding: 0px;
        margin: 0;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
    }
    
    table {
        position: absolute;
        left: 40%;
        top: 50%;
        transform: translate(-50%, -50%);
        border-collapse: collapse;
        width: 1000px;
        height: 200px;
        border: 1px solid #bdc3c7;
        box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.2), -1px -1px 8px rgba(0, 0, 0, 0.2);
    }
   add_Task{
        margin-top:500px;
    }
    tr {
        transition: all .2s ease-in;
        cursor: pointer;
    }
    
    th,
    td {
        padding: 12px;
        text-align: right;
        border-bottom: 1px solid #ddd;
    }
    
    #header {
        background-color: #00bfff;
        color: #fff;
    }
    
    h1 {
        
        margin-right: 200px;
        font-weight: 600;
        text-align: center;
        background-color: #00bfff;
        color: #fff;
        padding: 10px 0px;
    }
    
    tr:hover {
        background-color: #f5f5f5;
        transform: scale(1.02);
        box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.2), -1px -1px 8px rgba(0, 0, 0, 0.2);
    }
    
    @@media only screen and (max-width: 768px) {
        table {
            width: 90%;
        }
    }
    @@media only screen and (max-width: 767px) {

    table, thead, tbody, th, td, tr { 
        display: block; 
    text-align: right;

  }

  td:first-child { 
    padding-top: 24px;
  }

  td:last-child { 
    padding-bottom: 24px;
  }

  .c-table {
    border: 1px solid rgba(113, 110, 182, 0.15);
    font-size: 15px;
    line-break: 1.2;
  }

  .c-table__header tr { 
        position: absolute;
        top: -9999px;
        left: 9999px;
    text-align: right;

    }

  .c-table__cell { 
    padding: 12px 24px;
        position: relative; 
    width: 100%;
    word-wrap: break-word;
  }

  .c-table__label {
    color: #272b37;
    display: block;
    font-size: 10px;
    font-weight: 700;
    line-height: 1.2;
    margin-bottom: 6px;
    text-transform: uppercase;
  }

  .c-table__body tr:hover {
    background-color: transparent;
  }

  .c-table__body tr:nth-child(odd) {
    background-color: rgba(113, 110, 182, 0.04);
    text-align: right;

  }

}

body:before{
  content:'';
  height:100%;
  display:inline-block;
  vertical-align:middle;
}
button{
  background:green;
  color:#fff;
  border:none;
  position:relative;
  height:60px;
  font-size:1.6em;
  padding:0 2em;
  cursor:pointer;
  transition:800ms ease all;
  outline:none;
}
#Delete{
  background:red;
  color:#fff;
  border:none;
  position:relative;
  height:60px;
  font-size:1.6em;
  padding:0 2em;
  cursor:pointer;
  transition:800ms ease all;
  outline:none;
}
#Edit{
  background:#00bfff !important;
  color:#fff !important;
  border:none;
  position:relative;
  height:60px;
  font-size:1.6em;
  padding:0 2em;
  cursor:pointer;
  transition:800ms ease all;
  outline:none;
}
#Edit:hover{
 background:#fff !important;
  color:#00bfff !important;
}
button:hover{
  background:#fff;
  color:#54ad53;
  
}
#Delete:hover{
  background:#fff;
  color:red;
  
}


button:before,button:after{
  content:'';
  position:absolute;
  top:0;
  right:0;
  height:2px;
  width:0;
  background: black;
  transition:400ms ease all;
}




button:after{
  right:inherit;
  top:inherit;
  left:0;
  bottom:0;
}
#Edit:hover:#Edit,button:hover:after{
  width:100%;
  transition:800ms ease all;
}
button:hover:before,button:hover:after{
  width:100%;
  transition:800ms ease all;
}
button:hover:before,button:hover:after{
  width:100%;
  transition:800ms ease all;
}

</style>
<body>
    

  <form action="?" style="margin-top: -500px;margin-right:0px" class="add_Task  w-150 row align-item-center">
                           
           <div class="col-md-2">
              <button asp-controller="ToDo" asp-action="AddTodo"  class="btn btn-info text-light"  style="text-align: center;  padding: 8px 15px;!important height: fit-content;" >
                 <i class="fas fa-plus-square me-2"></i>
                 اضافه کن
              </button>
           </div>  
    </form>
    <hr>
     <h1 style="margin-top:-800px;">لیست وظایف</h1>

    <table>
        <tr id="header">
            <th>#</th>
            <th>عنوان</th>
            <th>توضیحات</th>
            <th>الویت</th>
            <th>وضعیت</th>
            <th>تاریخ ثبت</th>
            <th>تاریخ تکمیل</th>
            <th> عملیات</th>
        </tr>
        <tr>
            <td>John </td>
            <td>Doe </td>
            <td>25 </td>
            <td>USA </td>
            <td>Male </td>
            <td>25 </td>
            <td>

            </td>
            <td style="width:300px">
              <button class="btn btn-info text-light" id="Edit">
                   <i class="fas fa-edit"></i>
              </button>  
              <button class="btn btn-danger" id="Delete" >
                  <i class="fas fa-trash-alt"></i>
              </button> 
            </td>

        </tr>
        <tr>
            <td>steve </td>
            <td>Doe </td>
            <td>28 </td>
            <td>USA </td>
            <td>Male </td>

        </tr>
        <tr>
            <td>simo </td>
            <td>Doe </td>
            <td>26 </td>
            <td>USA </td>
            <td>Male </td>

        </tr>
        <tr>
            <td>karim </td>
            <td>Doe </td>
            <td>21 </td>
            <td>USA </td>
            <td>Male </td>

        </tr>
        <tr>
            <td>adam </td>
            <td>Doe </td>
            <td>20 </td>
            <td>USA </td>
            <td>Male </td>

        </tr>
        <tr>
            <td>keven </td>
            <td>Doe </td>
            <td>20 </td>
            <td>USA </td>
            <td>Male </td>

        </tr>

    </table>

</body>
</html>